spring:
  application:
    name: eurekaserver
server:
  port: 8762
eureka:
  instance:
    hostname: eureka2
  client:
    service-url:
      #     register to another server to achieve high availability
      defaultZone: http://eureka1:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true